<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SPA.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SPA.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <userSettings>
        <SPA.My.MySettings>
            <setting name="d_database" serializeAs="String">
                <value>SPA_Datos</value>
            </setting>
            <setting name="d_usuario" serializeAs="String">
                <value>SPA_Admin</value>
            </setting>
            <setting name="d_password" serializeAs="String">
                <value>12839164</value>
            </setting>
            <setting name="d_servidor" serializeAs="String">
                <value>192.168.1.23</value>
            </setting>
        </SPA.My.MySettings>
    </userSettings>
    <applicationSettings>
        <SPA.My.MySettings>
            <setting name="u_usuario" serializeAs="String">
                <value>PROGRAMADOR</value>
            </setting>
            <setting name="u_password" serializeAs="String">
                <value>12839164</value>
            </setting>
        </SPA.My.MySettings>
    </applicationSettings>
</configuration>
